<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/addBlog.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %> <% if ((locals.condition ||
    !locals.condition)&&(locals.id || ! locals.id)) { %>
    <title><%= condition?`Add Blog`:`Update Blog` %></title>
    <% } %>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %> <% if ((locals.condition ||
    !locals.condition)&&(locals.id || ! locals.id)) { %>

    <form
      action="/<%= condition?`addblog`:`updateblog/?id=${id}` %>"
      method="post"
      enctype="multipart/form-data"
    >
      <br />
      <label for="name">Name</label>
      <input <%= condition? "required":null %> type="text" name="name" id="name
      ">
      <br />
      <label for="brand">Brand</label>
      <input <%= condition? "required":null %> type="text" name="brand"
      id="brand">
      <br />
      <label for="problem">Problem</label>
      <input <%= condition? "required":null %> type="text" name="problem"
      id="problem">
      <br />
      <label for="image">Image</label>
      <input <%= condition? "required":null %> accept="image/*" type="file"
      name="image" id="image">
      <br />
      <img src="" id="imagee" alt="noting now" />
      <br />
      <button type="submit"><%- condition?"Add":"Update" %></button>
    </form>
    <% } %> <%- include('../partials/script.ejs') %>

    <script src="/js/addProduct.js"></script>
  </body>
</html>
